# Logs
logs/
*.log*
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/

# Build outputs
build/Release
coverage/
*.lcov
.nyc_output
.grunt
.lock-wscript
*.tsbuildinfo
next-env.d.ts

# Caches and temporary files
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_*/
.cache/
.parcel-cache
.yarn/
.pnp.*
.temp

# Environment variables and configurations
.env*
*.pem

# Bundlers and compilers
.lib-cov
*.tgz
.yarn-integrity
.next
out
.nuxt
dist
.vuepress/dist
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test

# Misc
.DS_Store
.vercel