# Arquivos compilados
*.class
*.dll
*.exe
*.o
*.so

# Pacotes
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs e bancos de dados
*.log
*.sql
*.sqlite

# Ferramentas de desenvolvimento
.idea/
.vscode/
*.sublime-workspace

# Sistema Operacional
.DS_Store
Thumbs.db

# Dependências
node_modules/
jspm_packages/

# Arquivos de build
/dist
/tmp
/out

# Chaves de API e credenciais
.env